body
{
  background-color: #1f1e1e;
  color: white;
  overflow: hidden;
}
h1{
  text-align: center;
}
.todo-wrapper
{
  background-color: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgba(27, 27, 27);
}
.todo-input
{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}